@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Oxanium:wght@200;300;400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  background: no-repeat url("./assets/home/background-home-desktop.jpg");
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .container {
    background: no-repeat url("./assets/home/background-home-mobile.jpg");
    background-size: cover;
  }
}

nav {
  width: 90%;
  padding-top: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-logo img {
  width: 40px;
}
nav ul {
  position: relative;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 20px 100px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  width: 60%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 1px solid black;
}
nav ul .active {
  border-bottom: 2px solid white;
}
nav ul li {
  padding: 25px 5px;
}
nav ul li a {
  text-decoration: none;
  color: lightgrey;
  text-transform: uppercase;
}
nav ul li a::before {
  content: attr(data-num);
  margin-right: 10px;
  color: white;
  font-size: 19px;
}
@media screen and (max-width: 776px) {
  nav ul li a::before {
    font-size: 25px;
  }
}
nav ul::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 400px;
  height: 1.5px;
  background: rgb(110, 110, 110);
  z-index: 11;
  overflow: visible;
}
nav .toogle-btn {
  display: none;
  z-index: 10;
}
@media screen and (max-width: 576px) {
  nav .toogle-btn {
    display: block;
    color: white;
    width: 25px;
  }
  nav ul {
    flex-direction: column;
    z-index: 10;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    transform: translateX(-300%);
    transition: 0.5s ease;
    font-size: 25px;
  }
  nav ul::before {
    display: none;
  }
  nav .show {
    transform: translateX(0%);
  }
}

.home-content {
  position: absolute;
  bottom: 0%;
  height: 65vh;
  padding: 0 80px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 576px) {
  .home-content {
    height: 80vh;
  }
}
.home-content h1 {
  transform-origin: left;
  -webkit-animation: show 1.5s linear;
          animation: show 1.5s linear;
  font-size: 100px;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .home-content h1 {
    font-size: 70px;
  }
}
.home-content p {
  -webkit-animation: show 1.5s linear;
          animation: show 1.5s linear;
  width: 30%;
  line-height: 1.7;
  color: rgb(165, 165, 165);
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .home-content p {
    width: 100%;
  }
}
.home-content h3 {
  -webkit-animation: show 1.5s linear;
          animation: show 1.5s linear;
  text-transform: uppercase;
  color: rgb(197, 197, 197);
  font-weight: bold;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .home-content h3 {
    font-size: 13px;
  }
}

.explore {
  -webkit-animation: show 1.5s forwards;
          animation: show 1.5s forwards;
  position: absolute;
  top: 70%;
  right: 10%;
  transform: translate(-20%, -60%);
  font-size: 25px;
  color: grey;
  text-transform: uppercase;
  background: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .explore {
    height: 100px;
    width: 100px;
    font-size: 15px;
    right: 50%;
    transform: translateX(50%);
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* destination style */
.bg1 {
  overflow: hidden;
  background: no-repeat url("./assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 576px) {
  .bg1 {
    overflow: hidden;
    background: no-repeat url("./assets/destination/background-destination-mobile.jpg");
    background-size: cover;
  }
}
.bg1 .title {
  -webkit-animation: show 1.5s forwards;
          animation: show 1.5s forwards;
  position: absolute;
  font-size: 17px;
  color: white;
  font-weight: 500;
  left: 20%;
  transform: translateX(-20%);
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .bg1 .title {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
  }
}
.bg1 .title h1 {
  font-size: 25px;
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  .bg1 .title h1 {
    font-size: 20px;
  }
}
.bg1 .title span {
  margin-right: 15px;
  font-size: 25px;
  color: gray;
}
@media screen and (max-width: 576px) {
  .bg1 .title span {
    font-size: 20px;
  }
}
.bg1 .moon {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-20%, -60%);
}
@media screen and (max-width: 576px) {
  .bg1 .moon {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    display: flex;
    justify-content: center;
  }
}
.bg1 .moon img {
  width: 70%;
  -webkit-animation: rotate 30s infinite forwards linear;
          animation: rotate 30s infinite forwards linear;
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg1 .info {
  -webkit-animation: show 3s forwards;
          animation: show 3s forwards;
  position: absolute;
  right: 0%;
  top: 60%;
  transform: translate(0%, -60%);
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 576px) {
  .bg1 .info {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    width: 100%;
    align-items: center;
  }
}
.bg1 .info .active {
  border-bottom: 2px solid white;
}
.bg1 .info ul {
  display: flex;
  list-style: none;
  gap: 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .bg1 .info ul {
    gap: 20px;
    letter-spacing: 1px;
  }
}
.bg1 .info ul li {
  padding: 10px 0;
}
.bg1 .info .moon-name {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 576px) {
  .bg1 .info .moon-name {
    font-size: 40px;
  }
}
.bg1 .info .moon-info {
  width: 500px;
}
@media screen and (max-width: 576px) {
  .bg1 .info .moon-info {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}
.bg1 .info .moon-info p {
  color: lightgrey;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
.bg1 .info .dis-info {
  display: flex;
  gap: 100px;
  color: white;
  position: relative;
  width: 500px;
  margin-top: 50px;
}
@media screen and (max-width: 576px) {
  .bg1 .info .dis-info {
    justify-content: center;
    align-items: center;
    gap: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
.bg1 .info .dis-info p {
  color: gray;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
}
.bg1 .info .dis-info h2 {
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.bg1 .info .dis-info::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: -40%;
  left: 0%;
  background-color: gray;
}
@media screen and (max-width: 576px) {
  .bg1 .info .dis-info::after {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.bg2 {
  overflow: hidden;
  background: no-repeat url("./assets/crew/background-crew-desktop.jpg");
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .bg2 {
    background: no-repeat url("./assets/crew/background-crew-mobile.jpg");
    background-size: cover;
  }
}
.bg2 .content {
  height: 80vh;
  width: 80%;
  margin: auto;
  position: relative;
  bottom: 5%;
  left: 5%;
}
.bg2 .content .title {
  -webkit-animation: show 1.5s forwards;
          animation: show 1.5s forwards;
  position: absolute;
  top: 5%;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .bg2 .content .title {
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    width: 100%;
  }
}
.bg2 .content .title span {
  color: gray;
  margin-right: 15px;
}
@media screen and (max-width: 576px) {
  .bg2 .content .title span {
    font-size: 12px;
  }
}
.bg2 .content .title h1 {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .bg2 .content .title h1 {
    font-size: 20px;
  }
}
.bg2 .content .crew-info {
  -webkit-animation: show 2.5s forwards;
          animation: show 2.5s forwards;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .bg2 .content .crew-info {
    position: relative;
    bottom: -10%;
    height: 90%;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
}
.bg2 .content .crew-info .c-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .bg2 .content .crew-info .c-info {
    gap: 10px;
    text-align: center;
  }
}
.bg2 .content .crew-info .c-info p:nth-child(1) {
  font-size: 30px;
}
@media screen and (max-width: 576px) {
  .bg2 .content .crew-info .c-info p:nth-child(1) {
    font-size: 25px;
  }
}
.bg2 .content .crew-info .c-info p {
  width: 400px;
  color: gray;
  font-size: 15px;
  line-height: 1.7;
}
@media screen and (max-width: 576px) {
  .bg2 .content .crew-info .c-info p {
    width: 250px;
  }
}
.bg2 .content .crew-info .c-info h1 {
  font-size: 50px;
  color: white;
}
@media screen and (max-width: 576px) {
  .bg2 .content .crew-info .c-info h1 {
    font-size: 30px;
  }
}
.bg2 .content .crew-info .crew-img {
  -webkit-animation: show 1s forwards;
          animation: show 1s forwards;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg2 .content .crew-info .crew-img img {
  width: 60%;
}
.bg2 .content .spans {
  -webkit-animation: show 6s forwards;
          animation: show 6s forwards;
  position: absolute;
  bottom: 10%;
  left: 5%;
  transform: translate(-5%, -10%);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .bg2 .content .spans {
    position: absolute;
    left: 40%;
    bottom: 50%;
    transform: translate(-40%, -45%);
  }
}
.bg2 .content .spans span {
  height: 15px;
  width: 15px;
  background-color: gray;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .bg2 .content .spans span {
    width: 12px;
    height: 12px;
  }
}
.bg2 .content .spans .active {
  background-color: rgb(230, 230, 230);
}

.bg3 {
  overflow: hidden;
  background: no-repeat url("./assets/technology/background-technology-desktop.jpg");
  background-size: cover;
}
@media screen and (max-width: 574px) {
  .bg3 {
    background: no-repeat url("./assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    overflow: hidden;
  }
}
.bg3 .content {
  height: 75%;
  position: relative;
  width: 100%;
  margin: auto;
}
.bg3 .content .title {
  -webkit-animation: show 1.5s forwards;
          animation: show 1.5s forwards;
  position: absolute;
  top: 2%;
  left: 10%;
  transform: translate(-10%, -2%);
}
.bg3 .content .title h1 {
  color: white;
  font-size: 25px;
}
@media screen and (max-width: 574px) {
  .bg3 .content .title h1 {
    font-size: 20px;
  }
}
.bg3 .content .title span {
  color: gray;
  font-size: 20px;
  margin-right: 15px;
}
@media screen and (max-width: 574px) {
  .bg3 .content .title span {
    font-size: 16px;
  }
}
.bg3 .content .technology-info {
  -webkit-animation: show 3s forwards;
          animation: show 3s forwards;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 574px) {
  .bg3 .content .technology-info {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.bg3 .content .technology-info ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}
@media screen and (max-width: 574px) {
  .bg3 .content .technology-info ul {
    order: 2;
    flex-direction: row;
  }
}
.bg3 .content .technology-info ul .active {
  background-color: black;
  color: white;
}
.bg3 .content .technology-info ul li {
  color: black;
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 300;
  cursor: pointer;
}
@media screen and (max-width: 574px) {
  .bg3 .content .technology-info ul li {
    height: 30px;
    width: 30px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 3px;
  }
}
.bg3 .content .technology-info img {
  -webkit-animation: show 4s forwards;
          animation: show 4s forwards;
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 574px) {
  .bg3 .content .technology-info img {
    order: 1;
    height: 150px;
    width: 300px;
  }
}
.bg3 .content .technology-info .show-info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  margin-right: 100px;
  letter-spacing: 1px;
}
@media screen and (max-width: 574px) {
  .bg3 .content .technology-info .show-info {
    order: 3;
    text-align: center;
    margin-right: 0px;
    gap: 20px;
  }
}
.bg3 .content .technology-info .show-info h1 {
  font-size: 50px;
}
@media screen and (max-width: 574px) {
  .bg3 .content .technology-info .show-info h1 {
    font-size: 30px;
  }
}
.bg3 .content .technology-info .show-info h3 {
  color: gray;
  font-size: 14px;
  font-weight: 500;
}
.bg3 .content .technology-info .show-info P {
  width: 400px;
  color: gray;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width: 574px) {
  .bg3 .content .technology-info .show-info P {
    width: 350px;
  }
}/*# sourceMappingURL=style.css.map */